@font-face {
  font-family: "Jost-Medium";
  src: url("../assets/fonts/Jost-500-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Jost-Bold";
  src: url("../assets/fonts/Jost-700-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Jost-Heavy";
  src: url("../assets/fonts/Jost-800-Heavy.ttf") format("truetype");
}
@font-face {
  font-family: "Oswald-Bold";
  src: url("../assets/fonts/Oswald-Bold.ttf") format("truetype");
}

header {
  font-family: "Jost-Medium", Arial;
  position: relative;

  .header__background {
    display: flex;
    width: 100%;
  }

  .header__background--mobile {
    display: none;
    width: 100%;
  }

  .header__navbar {
    position: absolute;
    top: 40px;
    left: 15%;
    right: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;

    .navbar__menu {
      display: flex;
      flex-direction: row;
      font-size: 16px;
      font-weight: 500;

      .menu__icon {
        display: none;
      }
      
      .menu__item {
        text-decoration: none;
        color: #151515;
        margin-right: 15%;
  
        .header__navbar--present {
          width: 100%;
          height: 2px;
          background-color: #151515;
        }
      }
  
      .menu__item:hover, .menu__item:active {
        color: #151515;
      }
    }

    @media (max-width: 1200px) {
      .navbar__menu {
        font-size: 14px;

        .menu__item {
          margin-right: 10%;
        }
      }
    }

    .navbar__zonex {
      height: 100%;
      margin-right: 10%;
    }

    .navbar__icons {
      display: flex;
      flex-direction: row;

      .icons__user {
        height: 100%;
        margin-right: 25px;
      }
  
      .icons__bag {
        height: 100%;
        margin-right: 4px;
      }
  
      .icons__counter {
        height: 100%;
        
        .icons__counter--number {
          position: absolute;
          z-index: 1;
          color: #ffffff;
          font-size: 13px;
          margin-top: 2px;
          margin-left: 4px;
        }
      }
    }
  }

  @media (max-width: 1000px) {
    .header__background {
      display: none;
    }

    .header__background--mobile {
      display: flex;
    }

    .header__navbar {
      left: 10%;
      right: 10%;

      .navbar__menu {

        .menu__icon {
          display: flex;
        }

        .menu__item {
          display: none;
        }
      }
    }
  }

}

.slideshow {
  background-color: #263a49;

  .gallery__slide {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 15%; 
    overflow: scroll;

    .slide__cloth {
      margin: 5% 2%;
      position: relative;
      color: #151515;

      .cloth__photo {
        width: 100%;
        min-width: 190px;
      }

      .cloth__text {
        position: absolute;
        bottom: 5%;
        left: 7%;
        right: 7%;
        font-size: 15px;
        text-align: left;

        .cloth__text--name {
          font-family: "Jost-Medium", Arial;
          font-weight: 500;
        }
  
        .cloth__text--price {
          font-family: "Jost-Bold", Arial;
          font-weight: bold;
        }
      }

      @media (max-width: 1000px) {
        .cloth__text {
          font-size: 13px;
        }
      }
    }
  }
  
  .arrow {
    height: 100%;
    padding: 70% 0;
    background: #263a49;
  }

  @media (max-width: 1000px) {
    .gallery__slide {
      margin: 0 2%;

      .slide__cloth .cloth__photo {
        min-width: 268px;
      }
    }

    .arrow {
      display: none;
    }
  }
}

.newarrivals {
  text-align: center;
  padding: 0 14%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .newarrivals__header {
    font-size: 40px;
    padding: 8%;
    color: #151515;
    font-family: "Jost-Medium", Arial;
    font-weight: 500;
  }

  @media (max-width: 1000px) {
    .newarrivals__header {
      font-size: 30px;
    }
  }

  .newarrivals__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .content__cloth {
      width: 22.7%;
      min-width: 160px;
      margin: 1.1%;
      font-size: 15px;
      text-align: left;
      color: #454545;

      .cloth__photo {
        width: 100%;
      }

      .cloth__tag {
        margin-top: 20px;
        font-family: "Jost-Heavy", Arial;
        font-weight: 900;

        img {
          margin-right: 3px;
        }
      }

      .cloth__name {
        font-family: "Jost-Medium", Arial;
        font-weight: 500;
      }

      .cloth__price {
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        font-family: "Jost-Bold", Arial;
        font-weight: bold;

        .cloth__price--old {
          color: #8a8a8a;
          margin: 0 10px;
          text-decoration: line-through;
        }
      }
    }

    @media (max-width: 1000px) {
      .content__cloth {
        font-size: 13px;
      }
    }
  }

  .newarrivals__allbtn {
    margin: 3% 42% 10% 42%;
    padding: 1.3% 1.5%;
    border: solid #151515;
    color: #151515;
    font-family: "Jost-Medium", Arial;
    font-weight: 500;
    text-align: center;
    font-size: 15px;
  }

  @media (max-width: 1000px) {
    .newarrivals__allbtn {
      font-size: 13px;
      margin: 3% 35% 10% 35%;
    }
  }
}

@media (max-width: 1000px) {
  .newarrivals {
    padding: 0 5%;
  } 
}

.collections {
  #item1 {
    grid-area: item1;
  }
  
  #item2 {
    grid-area: item2;
  }
  
  #item3 {
    grid-area: item3;
  }
  
  #item4 {
    grid-area: item4;
  }
}

.collections {
  margin: 0 15%;
  display: grid;
  grid-template-areas:
    'item1 item2 item3'
    'item1 item4 item4';
    grid-gap: 9px;

  .collections__item {
    position: relative;
    text-align: center;
    color: #151515;
    font-family: "Jost-Medium", Arial;
    font-weight: 500;
    text-align: left;

    .item__background {
      width: 100%;
      height: 100%;
    }

    .item__text {
      position: absolute;
      top: 30px;
      left: 30px;
      right: 30px;

      .item__text--name {
        font-size: 24px;
        margin-bottom: 10px;
      }

      .item__text--shopnow {
        font-size: 13px;

        .text__shopnow--present {
          width: 56px;
          height: 2px;
          background-color: #151515;
        }
      }

      @media (max-width: 1000px) {
        .item__text--name {
          font-size: 18px;
        }

        .item__text--shopnow {
          font-size: 11px;

          .text__shopnow--present {
            width: 50px;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .collections {
    grid-template-areas:
    'item1'
    'item2'
    'item3'
    'item4';
  }
}

@media (max-width: 600px) {
  .collections {
    margin: 0 5%;
  }
}

.newsletter {
  color: #151515;
  text-align: center;
  font-family: "Jost-Medium", Arial;
  font-weight: 500;
  background-color: #ffffff;

  .newsletter__title {
    font-size: 30px;
    margin: 8% 0 3% 0;
  }

  .newsletter__subtitle {
    font-size: 16px;
    margin: 3% 0;
  }

  .newsletter__form {
    margin: 5% 30% 5px 30%;
    display: flex;
    justify-content: space-between;

    input {
      border: none;
      text-align: left;
      cursor: pointer;
      outline: none;
      color: #151515;
      font-size: 13px;
      background: #ffffff;

      .form__mailplace {
        color: rgba(69, 69, 69, 0.5);
      }
    }
  }

  .form__underscore {
    height: 2px;
    margin: 0 30%;
    background-color: #151515;
  }

  .newsletter__note {
    font-size: 13px;
    text-align: left;
    color: #151515;
    margin: 1% 30% 10% 30%;
  }

  @media (max-width: 1000px) {
    .newsletter__title {
      font-size: 22px;
    }

    .newsletter__subtitle {
      font-size: 13px;
    }

    input, .newsletter__note {
      font-size: 11px;
    }
  }

  @media (max-width: 600px) {
    .newsletter__form {
      margin: 5% 5% 5px 5%;
    }

    .form__underscore {
      margin: 0 5%;
    }

    .newsletter__note {
      margin: 1% 5% 10% 5%;
    }
  }
}

footer {
  height: 150px;
  display: flex;
  flex-direction: column;

  .footer__separator {
    margin: 0 15%;
    padding: 1px 0;
    background-color: #eeeeee;
  }

  .footer__upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 15% 3.5% 14.5%;
    font-size: 13px;
    font-family: "Jost-Bold", Arial;
    font-weight: bold;
    color: #151515;

    .upper__media {
      display: flex;
      flex-direction: row;
      
      img {
        height: 100%;
        margin: 0 15px;
      }
    }

    .upper__docs {
      display: flex;
      flex-direction: row;
      margin-left: 100px;
  
      .docs__document {
        margin: 0 22px;
      }
    }

    .upper__settings {
      display: flex;
      flex-direction: row;

      .settings__label {
        color: #858585;
        margin-right: 14px;
      }

      .settings__value {
        color: #151515;
        text-transform: uppercase;
        margin-right: 4px;
      }

      img {
        height: 6px;
        margin-top: 6px;
      }

      #need-right-margin {
        margin-right: 60px;
      }
    }
  }

  .footer__lower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 15% 2% 15%;
    font-size: 13px;
    font-family: "Jost-Medium", Arial;
    font-weight: 500;

    img {
      height: 100%;
    }
  }

  @media (max-width: 1500px) and (min-width: 1001px) {
    .footer__upper {
      font-size: 11px;

      .upper__docs {
        margin-left: 70px;

        .docs__document {
          margin: 0 10px;
        }
      }

      .upper__settings {
        #need-right-margin {
          margin-right: 30px;
        }
      }
    }

    .footer__lower {
      font-size: 11px;
    }
  }

  @media (max-width: 1200px) and (min-width: 1001px) {
    .footer__upper {

      .upper__media img {
        margin: 0 10px;
      }

      .upper__docs {
        margin-left: 30px;
      }

      .upper__settings {
  
        .settings__label {
          margin-right: 7px;
        }
  
        .settings__value {
          margin-right: 2px;
        }

        #need-right-margin {
          margin-right: 10px;
        }
      }
    }
  }

  @media (max-width: 1000px) {
    .footer__separator {
      margin: 0 5%;
    }

    .footer__upper {
      flex-direction: column;
      margin: 2% 5% 3.5% 5%;

      .upper__media {
        margin-left: 0;

        img {
          margin-left: 0;
        }
      }
  
      .upper__docs {
        margin-left: 0;
        margin-top: 2%;
    
        .docs__document {
          margin-left: 0;
        }
      }

      .upper__settings {
        margin-top: 2%;
        margin-left: 0;
      }
    }

    .footer__lower {
      flex-direction: column;
      margin-left: 5%;

      img {
        width: 215px;
        height: 12px;
        margin-top: 20px;
      }
    }
  }

  @media (max-width: 500px) {
    .footer__upper {
      font-size: 11px;

      .upper__docs .docs__document {
        margin: 0 10px;
      }
    }
  }
}